<h1> Dice Roll </h1>

<form action="/process_roll">
  <label for="dices">Number of dice to roll?</label>
  <input type id="dices" ="text" name="dice">
  <label for="sides"> How many sides per die?</label>
  <input type id="sides"="text" name="sides">
  
  <button> Roll! </butoon>

</form>
